
<div class='sobre'>
    <div class="row" style="padding-top: 2cm">
        <h1 class="text-center branco"><strong>Sobre a Kaverna Digital</strong></h1>
    </div>
    <br>

    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <img class="img-responsive img-rounded" src="assets/img/sobre.jpg" alt="">
            </div>
            <div class="col-sm-9">
                <h3 class="branco">
                    A <strong>Kaverna Digital</strong> é uma empresa atuante nos ramos de venda de microcontroladores e componentes eletrônicos.
                    Fundada em 2015 a <strong>Kaverna Digital</strong> é hoje uma das maiores lojas de componentes eletrônicos do Brasil com diversos produtos online e ótimos preços.
                    Atualmente temos mais de 100 produtos listados em nosso site, todos a pronta entrega, enviamos para qualquer cidade do Brasil.
                    Seja você um iniciante ou um maker de carteirinha, a <strong>Kaverna Digital</strong> é o lugar certo para você.
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <h1 class="text-center branco"><strong>Envios</strong></h1>
            <div class="col-sm-12">
                <h3 class="branco">
                    Um dos diferenciais da <strong>Kaverna Digital</strong> é oferecer uma postagem rápida e econômica.
                    Para isso, utilizamos o Mercado Envios, uma parceria dos Correios que hoje consegue um baixo preço
                    de envio para encomendas SEDEX, PAC ou E-SEDEX. Para quem não conhece, o E-SEDEX é igual ao SEDEX,
                    mas com um preço bem mais econômico. Um serviço exclusivo para empresas de comércio eletrônico que
                    abrange mais de 250 cidades no Brasil. É possível enviar vários produtos no mesmo frete!
            </div>
        </div>
        <br>
        <img class="img-responsive center-block" src="assets/img/mercadoenvios.gif" alt="">
    </div>
    <br><br>
</div>

<!--
<div class='hero2'>
    <div class="container text-center">
        <h2><strong>Contato</strong></h2>
        <p><i class="fa fa-envelope"></i> E-mail: kavernadigital@gmail.com </p>
        <p><i class="fa fa-whatsapp"></i> Telefone: (62) 98111-2793 </p>
        <p><i class="fa fa-clock-o"></i> Horário: Segunda a Sábado das 8h às 18h </p>
    </div>
    <br>
</div>
-->

<div class='laranja'>
    <div class="container">
        <h2 class="text-center branco"><strong>Estamos disponíveis para esclarecer dúvidas e auxiliar nossos clientes por e-mail, telefone ou preenchendo nosso <a href="/contato">formulário de contato</a></strong></h2>
    </div>
    <br>
</div>

