<script>
	(function( $ ) {

		//Function to animate slider captions
		function doAnimations( elems ) {
			//Cache the animationend event in a variable
			var animEndEv = 'webkitAnimationEnd animationend';

			elems.each(function () {
				var $this = $(this),
						$animationType = $this.data('animation');
				$this.addClass($animationType).one(animEndEv, function () {
					$this.removeClass($animationType);
				});
			});
		}

		//Variables on page load
		var $myCarousel = $('#carousel-example-generic'),
				$firstAnimatingElems = $myCarousel.find('.item:first').find("[data-animation ^= 'animated']");

		//Initialize carousel
		$myCarousel.carousel();

		//Animate captions in first slide on page load
		doAnimations($firstAnimatingElems);

		//Pause carousel
		$myCarousel.carousel('pause');


		//Other slides to be animated on carousel slide event
		$myCarousel.on('slide.bs.carousel', function (e) {
			var $animatingElems = $(e.relatedTarget).find("[data-animation ^= 'animated']");
			doAnimations($animatingElems);
		});
		$('#carousel-example-generic').carousel({
			interval:3000,
			pause: "false"
		});

	})(jQuery);

</script>

<div ng-if="!main.loggedIn">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="http://cdn.bootcss.com/animate.css/3.5.1/animate.min.css">

	<div id="first-slider">
		<div id="carousel-example-generic" class="carousel slide carousel-fade">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				<li data-target="#carousel-example-generic" data-slide-to="1"></li>
				<li data-target="#carousel-example-generic" data-slide-to="2"></li>
				<li data-target="#carousel-example-generic" data-slide-to="3"></li>
			</ol>
			<!-- Wrapper for slides -->
			<div class="carousel-inner" role="listbox">
				<!-- Item 1 -->
				<div class="item active slide1">
					<div class="row"><div class="container">
						<div class="col-md-10 text-left">
							<h3 data-animation="animated bounceInDown">Invente e inove</h3>
							<h4 data-animation="animated bounceInUp">Explore projetos já existentes ou crie o seu.</h4>
						</div>
					</div></div>
				</div>
				<!-- Item 2 -->
				<div class="item slide2">
					<div class="row"><div class="container">
						<div class="col-md-10 text-left">
							<h3 data-animation="animated bounceInDown">Do INICIANTE ao AVANÇADO</h3>
							<h4 data-animation="animated bounceInUp">Kits Arduino para todos os níveis... </h4>
						</div>
					</div></div>
				</div>
				<!-- Item 3 -->
				<div class="item slide3">
					<div class="row"><div class="container">
						<div class="col-md-10 text-left">
							<h3 data-animation="animated bounceInDown">Wireless</h3>
							<h4 data-animation="animated bounceInUp">Elimimne os cabos dos seus projetos</h4>
						</div>
					</div></div>
				</div>
				<!-- Item 4 -->
				<div class="item slide4">
					<div class="row"><div class="container">
						<div class="col-md-10 text-left">
							<h3 data-animation="animated bounceInDown">Projetos e soluções</h3>
							<h4 data-animation="animated bounceInUp">Ajudamos na escolha do kit ideal para você</h4>
						</div>
					</div></div>
				</div>
				<!-- End Item 4 -->

			</div>
			<!-- End Wrapper for slides-->
			<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
				<i class="fa fa-angle-left"></i><span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
				<i class="fa fa-angle-right"></i><span class="sr-only">Next</span>
			</a>
		</div>
	</div>

	<div class='home'>
		<div class="row" style="padding-top: 1cm">
			<h2 class="text-center branco"><strong>Agora todos podem aprender Arduino, inclusive você...</strong></h2>
		</div>
		<br><br>
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-sm-6 text-center">
					<img class="img-circle img-responsive center-block" src="assets/img/arduinoIcon.jpg" alt="">
					<h2 class="branco"><strong>Placas Arduino</strong></h2>
					<p class="branco">Temos variados tipos de Arduino, escolha o melhor para seu projeto</p>
				</div>
				<div class="col-lg-4 col-sm-6 text-center">
					<img class="img-circle img-responsive center-block" src="assets/img/ultrasonicoIcon.jpg" alt="">
					<h2 class="branco"><strong>Sensores</strong></h2>
					<p class="branco">Utilize variados tipos de sensores para realizar medições, receber ou enviar dados</p>
				</div>
				<div class="col-lg-4 col-sm-6 text-center">
					<img class="img-circle img-responsive center-block" src="assets/img/ethernet.jpg" alt="">
					<h2 class="branco"><strong>Shieds</strong></h2>
					<p class="branco">Adapte seus Arduino a shields, podendo assim, até mesmo conectar-se a internet</p>
				</div>
			</div>
		</div>
	</div>
	<br>
	<br>
	<br>

	<div class='hero2'>

		<div class="container">
			<h2 class="text-center azul"><strong>Escolha o kit mais adequado </strong></h2>
			<h2 class="text-center azul"> e coloque suas idéias mais divertidas em prática</h2>
		</div>
		<br>
		<br>

		<div class="container">

			<div class="row">
				<div class="col-sm-6">
					<img src="assets/img/Computer-Hardware-Board-Arduino-Electronics-631977.jpg" alt="" class="img-responsive center-block">
				</div>
				<div class="row col-sm-6">
					<div class="col-xs-6">
						<a href="#">
							<img class="img-responsive" src="assets/img/blink.gif" alt="">
						</a>
						<h4 class="text-center" >Fácil aprendizado, em apenas alguns minutos você consegue escrever um "HELLO WORD"</h4>
					</div>
					<div class="col-xs-6">
						<a href="#">
							<img class="img-responsive" src="assets/img/LED.gif" alt="">
						</a>
						<h4 class="text-center" >Em algumas semanas já estará criando projetos mais avançados utilizando tecnologias bluetooth ou até mesmo wireless</h4>
					</div>
					<br>
					<br>
					<br>
					<div class="col-md-12 text-center azul">
						<h1>Sua imaginação é o <strong>LIMITE</strong> </h1>
					</div>
				</div>
			</div>

		</div>
		<br>
		<br>
	</div>

</div>
</div>
</div>



