<div class="row" style="padding-top: 1.5cm">
    <h2 class="text-center branco"><strong>Listagem de Produtos</strong></h2>
</div>

<br>

<div class="container">
    <div class="row">

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-6">
                        <h3 class="panel-title padFix">Clientes cadastrados no momento: <span class="badge">{{ produto.produtos.length }}</span></h3></div>
                    <div class="col-sm-6">
                        <form role="search">
                            <div class="input-group">
                                <input type="text"  class="form-control" ng-model="busca.nome " placeholder="Buscar componente...">
                                <div class="input-group-btn">
                                    <button class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="panel-body">

                <div class="jumbotron text-center" ng-show="user.processing">
                    <span class="glyphicon glyphicon-repeat spinner"></span>
                    <p>Carregando produtos...</p>
                </div>

                <table class="table table-striped">
                    <thead>
                    <tr class="info">
                        <th>Editar</th>
                        <th>Imagem</th>
                        <th>Nome</th>
                        <th>Valor</th>
                        <th>Excluir</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in produto.produtos | filter:busca">
                        <td><a ng-href="/produtos/{{ item._id }}" class="btn btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
                        <td><img src="{{item.img}}" class="responsive-img" style="max-height:50px" alt=""></td>
                        <td>{{ item.nome }}</td>
                        <td>{{ item.valor }}</td>
                        <td><a ng-click="produto.deleteproduto(item._id)" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                    </tr>
                    </tbody>
                </table>
                <a href="/produtos/create" class="btn btn-success center-block">Novo Produto</a>
            </div>
        </div>

    </div>
</div>




